html {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  width: 1440px;
}

.PageHeader {
  width: 1440px;
  height: 900px;
}

.PageHeader-banner {
  height: 800px;
}

.PageHeader-banner img {
  height: 800px;
  width: 100%;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.PageHeader-banner h1 {
  display: flex;

}

/* PageHeader styles */
.PageHeader-logo img {
  max-width: 140px;
}
